server:
  port: 9999


spring:
  application:
    name: auth-server


logging:
  level:
    org.springframework.security: TRACE

security:
  user:
    name: root
    password: password


eureka:
  client:
    service-url:
     defaultZone: http://localhost:8761/eureka


